<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <h1  align="center">SIGN UP</h1><br>
    <div class="menu" align="center">
    <form action = "{{ url_for('addrec') }}" method = "POST">
        Name : <input type = "text" name = "name" /></br><br>
        
        Email : <input name = "email" name="email"/><br><br>

        Mobile : <input type="mobile" name="mobile"/><br><br>

        City : <input type = "text" name = "city" /><br><br>

        State :  <input type = "text" name = "state" /><br><br>

        Country : <input type = "text" name = "country" /><br><br>

        Password : <input type = "password" name = "Password" /><br><br>
        
        <input type = "submit" value = "submit" /><br>
     </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    </div>
    </body>
</html>
